---
const greeting = "Hi, I'm";
const name ="Jesús de la Fuente";
const degree = "Engineer";
const degreeName = "Telematics";
const aboutTitle = "About";
---

<section class="hero-container finisher-header flex overflow-hidden h-screen w-screen"
>

    <!-- Your two-column Hero content, on top of the canvas -->
    <div
    class="hero-content absolute z-10 flex flex-col-reverse md:flex-row items-center  mx-auto h-full px-6"
    >
    <div class="hero-left flex-1 md:text-left">
        <h2 class="text-center">{greeting} {name} <span class="wave">👋</span></h2>
        <h1 class="shine-txt text-center">{degreeName}</h1>
        <h1 class="outlined-txt text-center">{degree}</h1>
    </div>
    <div class="hero-right flex-1 md:text-left">
        <h2>{aboutTitle}</h2>
        <p class="mb-5 mr-20">I'm a <span> fourth-year </span> Telematics Engineering student at University Rey Juan Carlos. Passionate about <span>software development</span> &
                        <span>backend applications</span>. I enjoy learning new technologies and applying them to solve real-world problems.
                        My goal is to contribute to innovative projects that make a difference in the world.</p>
        <a href="/cv.pdf" target="_blank" class="btn">Download CV</a>
    </div>
    

</section>

<script src="public/js/finisher-header.es5.min.js" type="text/javascript"></script>

<script type="text/javascript">
    new FinisherHeader({
        "count": 100,
        "size": {
        "min": 2,
        "max": 8,
        "pulse": 0
    },
        "speed": {
        "x": {
            "min": 0,
            "max": 0.4
        },
        "y": {
            "min": 0,
            "max": 0.6
        }
        },
        "colors": {
        "background": "#201e30",
        "particles": [
            "#ffffff"
        ]
        },
        "blending": "overlay",
        "opacity": {
        "center": 1,
        "edge": 0
        },
        "skew": -4,
        "shapes": [
        "c"
        ]
    });
    </script>

